body{
	background-attachment: fixed;
	background-size:cover;
background-color: #232323;

margin: 0;
}
#links{
  margin: auto;
  text-align:center;

}
a:link {
    color: #f4ce42;
}
a:visited {
    color: #FF4076;
}
.icons{
margin-top: 0px;
height: 55px;
width: 55px;
}
#title{
  margin-top: 0;
  padding-top: 200px;
  font-size:100px;
  color: white;
  text-align:center;
  font-family: 'Amatic SC', cursive;
}
p{
  text-align: justify;
  font-size: 24px;
  color: white;
 font-family: 'Amatic SC', cursive;
}
h1{
  text-align: center;
  font-size: 28px;
  color: white;
font-family: 'Amatic SC', cursive;
}
#Header{
margin-top: 0px;
text-align:center;
 border: 3px solid black;
background-image:url(Images/TopBackground.jpg);
background-size:cover;
width:100%;

}

#MainBlock{
	
  position: absolute;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  background-color: #232323;
  padding: 25px;
  left: 48%;
  margin-left:-375px;
  margin-top: 50px;
  width: 800px;
}
#screenshots{
  margin-top: 15px;
text-align: center;

}
#LabelImg{
	width:50%;
}
.preview{
 margin: auto;
 height: 180px;
}
